.directory {
  &-container {
    height: 100%;
  }
  &-wrapper{
    height: 100%;
    @include Display(flex);
    &__item{
      width: 50%;
      height: 100%;
      background: {
        position: center;
        repeat: no-repeat;
        size: cover;
      }
    }
  }
}